.about-us {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black;
  padding: 34px 30px;
  margin: 0;
}

.about-us__title {
  font-size: 25px;
  font-weight: bold;

}

.about-us__list {
  list-style: none;
  padding-left: 0;
}

.about-us__item {
  margin-top: 30px;

  &--eco:before {
    display: block;
    content: "";
    background: url("../img/about-us/icon-feature-flower.svg") no-repeat;
    height: 37px;
    width: 32px;
  }

  &--price:before {
    display: block;
    content: "";
    background: url("../img/about-us/icon-feature-money.svg") no-repeat;
    height: 27px;
    width: 47px;
  }

  &--like:before {
    display: block;
    content: "";
    background: url("../img/about-us/icon-feature-heart.svg") no-repeat;
    height: 27px;
    width: 34px;
  }

  &--handmade:before {
    display: block;
    content: "";
    background: url("../img/about-us/icon-feature-ball.svg") no-repeat;
    height: 34px;
    width: 35px;
  }

  &--local:before {
    display: block;
    content: "";
    background: url("../img/about-us/icon-feature-rocket.svg") no-repeat;
    height: 23px;
    width: 55px;
  }

  &--giftbox:before {
    display: block;
    content: "";
    background: url("../img/about-us/icon-feature-gift.svg") no-repeat;
    height: 32px;
    width: 33px;
  }
}
