.button {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: $grayish-brown;
  text-transform: uppercase;
  padding: 20px 0;
  border: 2px solid $grayish-brown;
  margin: 0 auto;
  background-color: $main-color;
}


@media (min-width: $tablet-width) {
  .button {
    padding: 17px 0;
  }
}
