body {
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
  }

a {
  text-decoration: none;
  color: #000000;
}


.page-wrapper {
  margin: 0 auto;
  width: 320px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}


.button {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  padding: 20px 0;
  border: 2px solid #444444;
  margin: 0 auto;
  background-color: #ffffff;
}
