.catalog-section {

  &__item {
    display: block;
    height: 103px;
  }

  &__name {
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    margin: 0 0;
    padding: 30px 185px 30px 29px;
  }

  &__interior {
    background-color: #63d1bb;
  }

  &__toy {
    background-color: #56c3b2;
  }
}
