.filter__part {
  border: none;
  border-top: 1px solid $seafoam-blue;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
}

.filter__part-title {
  font-size: 17px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;

  &--type {
    padding-right: 27px;
  }

  &--color {
    padding-right: 18px;
  }

  &--name {
    padding-right: 22px;
  }

  &--tel {
    padding-right: 31px;
  }

  &--mail {
    padding-right: 23px;
  }

  &--add {
    padding-right: 25px;
  }
}

.filter__list-type,
.filter__list-color {
  list-style: none;
}

.filter__label {
  margin-right: 25px;
}

.filter__input,
.filter__input-tel,
.filter__input-mail {
  width: 100%;
  border: none;
  border-bottom: 2px solid $black;
  height: 52px;

  &::placeholder {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.filter__extra {
  font-size: 17px;
  color: $grayish-light;
  border: 2px solid $black;
  width: 100%;
}

.filter__legend {
  font-size: 14px;
  text-align: left;
  color: #444444;
}

.filter__button {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: $grayish-brown;
  text-transform: uppercase;
  padding: 20px 47px;
  border: 2px solid $grayish-brown;
  margin: 28px auto;
  background-color: $main-color;
}











@media (min-width: $tablet-width) {

  .filter__part {
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    font-size: 19px;
    padding: 64px 51px 12px;
    border: none;

    &:nth-child(2) {
      background-color: yellow;
    }
  }

  .filter__part-title {
    margin: 1px 199px 0 0;
    padding: 0;

    &--color {
      margin: 1px 190px 0 0;
    }
  }

  .filter__list-type,
  .filter__list-color {
    margin: 0;
    padding: 0;
  }

  .filter__option-type {
    margin-bottom: 55px;
  }


  .filter__option-color {
    margin-bottom: 55px;

    &:nth-child(1) {
      margin-right: 181px;
    }

    &:nth-child(3) {
      margin-right: 135px;
    }

    &:nth-child(5) {
      margin-right: 160px;
    }
  }

  .filter__list-color {
    display: flex;
    flex-wrap: wrap;
  }

  //.filter__list-name {
  //  margin-left: 126px;
  //  margin-top: -18px;
  //}
  //
  //.filter__item-name {
  //  display: flex;
  //  margin-bottom: 35px;
  //  //margin-left: 125px;
  //}
  //
  //.filter__label {
  //  display: flex;
  //  justify-content: left;
  //  margin-right: 25px;
  //}
  //
  //.filter__input,
  //.filter__input-tel,
  //.filter__input-mail {
  //  width: 100%;
  //  border: none;
  //  border-bottom: 2px solid $black;
  //  height: 52px;
  //  margin-top: -15px;
  //  padding-left: 16px;
  //
  //  &::placeholder {
  //    font-size: 19px;
  //    color: rgba(68, 68, 68, 0.3);
  //  }
  //}
  //
  //
  //
  //.filter__input-tel,
  //.filter__input-mail {
  //  box-sizing: border-box;
  //  width: 501px;
  //  height: 52px;
  //  margin-left: 167px;
  //  padding-left: 16px;
  //}
  //
  //.filter__extra {
  //  min-height: 115px;
  //  padding-top: 10px;
  //  padding-left: 16px;
  //  width: 478px;
  //  margin-bottom: 34px;
  //  margin-left: 167px;
  //  font-size: 19px;
  //}
  //
  //.filter__end {
  //  display: flex;
  //  justify-content: space-between;
  //  padding: 53px 51px 50px 50px;
  //  height: 52px;
  //  vertical-align: middle;
  //}
  //
  //.filter__legend {
  //  order: 2;
  //  font-size: 17px;
  //  margin: auto 0;
  //}
  //
  //.filter__button {
  //  order: 1;
  //  margin: 0;
  //  width: 230px;
  //  height: 52px;
  //  padding: 0;
  //}
}


