.filters {
  margin: 30px;

  &__description {
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #444444;

  }
}

.filter {

  &__part {
    border: none;
    border-top: 1px solid #63d1bb;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
  }

  &__part-title {
    font-size: 17px;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;

    &--type {
      padding-right: 27px;
    }

    &--color {
      padding-right: 18px;
    }

    &--name {
      padding-right: 22px;
    }

    &--tel {
      padding-right: 31px;
    }

    &--mail {
      padding-right: 23px;
    }

    &--add {
      padding-right: 25px;
    }
  }

  &__list {
    list-style: none;
  }

  &__label {
    margin-right: 25px;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;

    &::placeholder {
      font-size: 17px;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &__extra {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
    border: 2px solid #000000;
    width: 100%;
  }

  &__legend {
    font-size: 14px;
    text-align: left;
    color: #444444;
  }

  &__button {
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
    padding: 20px 47px;
    border: 2px solid #444444;
    margin: 28px auto;
    background-color: #ffffff;
  }











}
