body {
  min-width: 320px;
  background-color: $main-color;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: $black;

  //background: url("../img/IndexMobileMenu.png") no-repeat 50% 0;
}

a {
  text-decoration: none;
  color: $black;
}


/* временно для работы */

html {
  opacity: 0.4;
}

@media (min-width: $tablet-width) {
  body {
    background: url("../img/mishka-catalog-tablet.jpg") no-repeat 50% 0;
  }
}


@media (min-width: $desktop-width) {
  body {
    background: url("../img/mishka-catalog-desktop.jpg") no-repeat 50% 0;
  }
}

/* временно для работы */
