body {
  background-color: $main-color;
  padding: 0;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
  }

a {
  text-decoration: none;
  color: $black;
}


.page-header,
.page-main,
.page-footer {
  margin: 0 auto;
  width: 320px;
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
}
