.page-main__intro {
  box-sizing: border-box;
  //height: 300px;
  background: url("../img/index-title/hero-mobile@1x.jpg") no-repeat top -17px center;
}

.page-main__description {
  margin: 0 auto;
  font-size: 27px;
  font-weight: bold;
  padding-top: 76px;
  padding-bottom: 120px;
  line-height: 1.11;
}

.page-main__title {
  display: block;
  font-size: 27px;
  font-weight: bold;
  background-color: $gray-light;
  margin: 0 auto;
  padding: 75px 42px;
}


