.product-week {
  margin: 0;
  padding: 34px 30px;
}

.product-week__name {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.product-week__type {
  display: block;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;
  margin: 8px 0 30px;
}

.product-week__description {
  list-style: none;
  margin-top: 34px;
  margin-bottom: 28px;
  padding: 0;
  text-align: left;
}


.product-week__about,
.product-week__item {
  font-size: 15px;
  text-align: left;
  color: $grayish-brown;
  margin: 0;
}

.product-week__item {
  border-bottom: 1px solid $gray-light;
  padding: 13px 0;
  display: flex;
  justify-content: left;
}

.product-week__parameter {
  display: block;
  width: 67px;
  padding-right: 31px;
}

.product-week__value {
  display: block;
  width: 140px;
}

.product-week__price {
  display: block;
  padding: 29px 0;
  font-size: 17px;
  font-weight: bold;
  color: $grayish-brown;
}


@media (min-width: $tablet-width) {
  .product-week {
    margin: 0;
    padding: 45px 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-week__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .product-week__type {
    text-align: center;
    width: 70px;
    margin: 12px 31px 0 0;
    line-height: 1;

  }

  .product-week__name {
    font-size: 43px;
    padding-bottom: 53px;
  }

  .product-week__about {
    font-size: 17px;
    width: 282px;
    line-height: 1.76;
  }

  .product-week__price {
    font-size: 20px;
  }

  .product-week__order {
    width: 292px;
    margin-top: -136px;
  }

}
