.page-main {

  &__title {
    display: inline-block;
    vertical-align: center;
    font-size: 27px;
    font-weight: bold;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 75px 42px;
  }
}

.catalog {
  padding: 0 30px;
  margin: 0 0;

  &__list {
    list-style: none;
    margin: 0 auto;
    padding: 0 0;
  }

  &__item {
    border: 1px solid #ececec;
    margin-top: 30px;
  }

  &__item-description {
    text-align: left;
    padding: 0 28px;

  }

  &__item-price {
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
  }

  &__item-title {
    font-size: 17px;
    font-weight: bold;
  }

  &__item-parameter {
    font-size: 13px;
    color: #444444;
    border-bottom: 1px solid #ececec;
  }

  &__item-cost {
    font-size: 15px;
    font-weight: bold;
  }

  &__item-cart {
    opacity: 0.2;
  }
}
