body {
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}


.page-wrapper {
  margin: 0 auto;
  width: 320px;
}
