body {
  background: url("../img/IndexMobileMenu.png") no-repeat 50% 0;
}

$media (min-width: $tablet-width) {
  body {
    background: url("../img/mishka-index-desktop.jpg") no-repeat 50% 0;
  }
}


$media (min-width: $desktop-width) {
  body {
    background: url("../img/mishka-index-tablet.jpg") no-repeat 50% 0;
  }
}
