.product-week {
  padding: 0 30px;

  &__name {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }

  &__type {
    font-size: 17px;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__description {
    list-style: none;
    padding: 0;
    text-align: left;
  }


  &__about,
  &__item{
    font-size: 15px;
    text-align: left;
    color: #444444;
  }

  &__item {
    border-bottom: 1px solid #f1f1f1;
    padding: 13px 0;

  }

  &__parameter {
    padding-left: 0;
    padding-right: 31px;

  }

  &__value {
    padding-left: 0;
  }

  &__price {
    font-size: 17px;
    font-weight: bold;
    color: #444444;
  }

}

.button {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  padding: 20px 0;
  border: 2px solid #444444;
  margin: 28px auto;
  background-color: #ffffff;
}
